controller_manager:
  ros__parameters:
    update_rate: 100

    arm_hardware:
      type: so101_control/so101_hardware_interface
      usb_port: /dev/ttyUSB0

    joint_state_broadcaster:
      type: joint_state_broadcaster/JointStateBroadcaster

    joint_trajectory_controller:
      type: joint_trajectory_controller/JointTrajectoryController
      joints:
        - joint1
        - joint2
        - joint3
        - joint4
        - joint5
        - joint6
      command_interfaces:
        - position
      state_interfaces:
        - position
